# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
chatgist

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# App data & database
data/
*.db
*.db-*

# Environment files
.env
.env.local

# IDE & Editor
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log
logs/
